body{
    background-color: rgb(238, 223, 240);
    align-items: center;
}
form fieldset{
    border-radius: 20px;
}
form{
    text-align: center;
    width: 500px;
}

legend{
    font-family: 'Times New Roman', Times, serif;
}
.table1 td{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
input{
    border-radius: 10px;
}
